ul {
	list-style: none;
	background-color: #122c44;
	width: 95%;
	border: 1px solid #7aafdd;
	border-radius: 10px;
	border-bottom: none;
	color: #fff;
	margin: 0 auto;
}
ul li {
	border-bottom: 1px solid #7aafdd;
	border-radius: 10px;
	position: relative;
	color: #fff;
}
ul li:hover {
	background-color: #d0d5da;
	border-radius: 10px;
}
ul li:hover ul {
	// display: block;
}
ul li:hover ul li ul {
	display: none;
}
ul li a {
	color: #fff;
	border-radius: 10px;
	padding: 5px 60px;
	display: block;
	text-decoration: none;
	font-weight: bold;
}
ul li a:hover {
	background-color: #d0d5da;
	// opacity: 1;
	color: #fff;
}
ul li ul li:hover ul {
	// display: block;
}
ul li ul {
	// position: absolute;
	// left: 100px;
	// top: 0px;
	// margin-left: 20px;
	display: none;
	z-index: 1;
}

button {
	position: absolute;
	left: 13rem;
	top: 1.4rem;
	background: none;
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	cursor: pointer;
}

.active {
	display: block !important;
}

.change-btn {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
