// .spoiler-wrap > .spoiler__btn
// {
//   cursor: pointer;
// }

// .spoiler-wrap > .spoiler__btn::after
// {
// //   content: "(Закрыто)";
//   margin-left: 10px;
// }

// .spoiler-wrap.spoiler--open > .spoiler__btn::after
// {
// //   content: "(Открыто)";
//   margin-left: 10px;
// }

// .spoiler-wrap.spoiler--open > .spoiler-content
// {
//   display: block;
//   // margin-left: 10px;
// }

// .spoiler-content
// {
//   display: none;
//   animation: fadeIn 1s ease;
// }


// @keyframes fadeIn
// {
//   from
//   {
//     opacity: 0;
//   }

//   to
//   {
//     opacity: 1;
//   }
// }

#main_nav {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 15px;
  margin-top: 14px;
  margin-left: 0px;
  }
#main_nav li{
  display: inline;
  padding: 0 8px;
  border-left: 1px dotted #8b6619;
  position: relative;
  z-index: 2;
  }
#main_nav li:first-child, #main_nav ul li {
  border-left: none;
  }
#main_nav ul {
  display: none;
  // position: absolute;
  top: 19px;
  left: 0;
  z-index: 1;
  width: 155px;
  }
#main_nav li a, #main_nav li ul li a{
  color: #8b6619;
  font-family: "Times New Roman", serif;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  padding-bottom: 17px;
  }
#main_nav li a:hover, 
#main_nav li ul a:hover {
  color: black;
  }
/*--------------Подменю--------------*/
  #main_nav li:hover ul {
      display: block;
      }