.choise_widget {
    .choise_widget__title {
        margin: 0;
        padding: 2vh;
        font-size: 3vh;
        font-weight: bold;
    }

    .btn_close {
        background: none;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 2%;
        left: 94%;
        border: none;
        box-shadow: none;
        background-image: url("../../../../../assets/close.png");
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        cursor: pointer;
    }

    .widgets_types {
        overflow: scroll;
        height: 62vh;
        .widgets_types_builder {
            .widgets_types__header {
                height: 6vh;
                background-color: #008fc5;
                .widgets_types__header_btn {
                    height: 100%;
                    border: none;
                    width: 27vh;
                    background-color: #0073aa;
                    color: #fff6e9;
                    font-size: 2vh;
                    padding: 2vh;
                }
            }

            .widget_types {
                padding: 4vh;
                padding-left: 5%;

                .table_type {
                    width: 50%;

                    .type_block {
                        display: flex;
                        align-items: center;
                        .left_size {
                            padding-right: 49vh;
                            .left_size_title {
                                width: 21vh;
                            }

                            .left_size_text {
                            }
                        }

                        .right_size {
                            width: 50%;
                        }
                    }

                    .rows_block {
                        display: flex;
                        align-items: center;
                        .left_size {
                            padding-right: 49vh;
                            .left_size_title {
                                width: 21vh;
                            }

                            .left_size_text {
                            }
                        }

                        .right_size {
                            display: flex;
                            .increase_rows_count {
                                background-color: #008fc5;
                                border: none;
                                width: 12vh;
                                height: 6vh;
                                color: white;
                                font-size: 4vh;
                                padding: -2vh;
                                padding-top: -2vh;
                                padding-bottom: 2vh;
                                margin-right: 2vh;
                            }

                            .rows_count {
                                margin-right: 2vh;
                                margin-top: 1.5vh;
                            }

                            .decrease_rows_count {
                                background-color: #008fc5;
                                border: none;
                                width: 12vh;
                                height: 6vh;
                                color: white;
                                font-size: 4vh;
                                padding: -2vh;
                                padding-top: -2vh;
                                padding-bottom: 2vh;
                                margin-right: 2vh;
                            }
                        }
                    }

                    .columns_block {
                        display: flex;
                        align-items: center;
                        .left_size {
                            padding-right: 49vh;
                            .left_size_title {
                                width: 21vh;
                            }

                            .left_size_text {
                            }
                        }

                        .right_size {
                            display: flex;
                            .increase_column_count {
                                background-color: #008fc5;
                                border: none;
                                width: 12vh;
                                height: 6vh;
                                color: white;
                                font-size: 4vh;
                                padding: -2vh;
                                padding-top: -2vh;
                                padding-bottom: 2vh;
                                margin-right: 2vh;
                            }

                            .column_count {
                                margin-right: 2vh;
                                margin-top: 1.5vh;
                            }

                            .decrease_column_count {
                                background-color: #008fc5;
                                border: none;
                                width: 12vh;
                                height: 6vh;
                                color: white;
                                font-size: 4vh;
                                padding: -2vh;
                                padding-top: -2vh;
                                padding-bottom: 2vh;
                                margin-right: 2vh;
                            }
                        }
                    }

                    .table_block {
                        align-items: center;
                        .left_size {
                            .left_size_title {
                                width: 21vh;
                            }

                            .left_size_text {
                            }
                        }

                        .right_size {
                            .grid-wrapper {
                                width: 100%;
                                box-shadow: none;

                                .mat-table {
                                    max-height: 550px;
                                    overflow-y: auto;
                                    overflow-x: auto;
                                    width: 50%;
                                    min-width: 500px;
                                    max-width: 500px;
                                    color: #fff;

                                    .mat-header-row {
                                        z-index: 5 !important;
                                        font-size: 12px;
                                        box-sizing: unset;
                                    }

                                    .mat-row,
                                    .mat-header-row {
                                        border-bottom-width: 0px;
                                        font-size: 12px;
                                    }

                                    .mat-row {
                                        cursor: pointer;
                                        font-size: 12px;
                                        box-sizing: unset;

                                        &:hover {
                                            background-color: #dcdcdc;
                                        }
                                    }

                                    .mat-header-cell {
                                        padding-left: 0px;

                                        .input-name {
                                            display: flex;
                                            flex-direction: column;
                                            height: 96px;
                                            width: 100%;

                                            .filter-input {
                                                input {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }

                                    .mat-cell {
                                        padding-left: 0px;

                                        &:last-child {
                                            padding-right: 0px;
                                        }
                                    }

                                    .mat-header-cell {
                                        display: flex;
                                        justify-content: space-between;

                                        &.resizable {
                                            .handler {
                                                cursor: col-resize;
                                            }
                                        }

                                        font-size: 0.8rem;
                                        font-weight: bolder;
                                        text-transform: uppercase;

                                        // &:first-child {
                                        //   padding-left: 8px;
                                        // }

                                        .mat-icon {
                                            cursor: pointer;
                                        }

                                        .cell-header {
                                            cursor: default;
                                            width: 100%;
                                            height: 50px;
                                            display: flex;
                                            align-items: center;
                                            margin-left: 4px;
                                        }

                                        .handler {
                                            width: 5px;
                                            height: 50px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btn_panel {
        display: flex;
        justify-content: flex-end;
        margin-top: 2vh;
        margin-right: 5vh;
        .save_btn {
            margin-right: 2vh;
            background-color: #008fc5;
            border: none;
            width: 12vh;
            height: 5vh;
            color: white;
        }

        .cancel_btn {
            background-color: #008fc5;
            border: none;
            width: 12vh;
            height: 5vh;
            color: white;
        }
    }
}

mat-cell,
mat-footer-cell,
mat-header-cell {
    flex: none;
    justify-content: right;
    border: 1px solid #f0f0f1;
    padding: 0 !important;
    background-color: white;
}

input {
    border-bottom: none !important;
    padding-left: 2vh !important;
}
