.triggers_container {
    .triggers_title {
        margin: 5vh;
    }

    .triggers_cont {
        display: flex;
        justify-content: space-between;
        width: 70%;
        .triggers {
            display: flex;
            flex-direction: column;

            .trigger_cont {
                display: flex;
                p {
                    margin-left: 6vh;
                }
            }
        }

        .new_trigger {
            margin-right: 7vh;
            margin-top: 1vh;
        }
    }
}

.modal {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 55vh;
    height: 35vh;
    left: 20%;
    top: 34%;
    background-color: white;
    display: block;
    padding: 2vh;
    // overflow: hidden;

    form {
        .modal-btn {
            button {
                margin-right: 5vh;
            }

            .close {
                background-color: #f38705;
            }
        }

        .input__wrapper {
            width: 27vh;
            position: relative;
            margin: 15px 0;
            text-align: center;
        }

        .input__file {
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }

        .input__file-button-text {
            line-height: 1;
            margin: 0 auto;
            margin-top: 2vh;
        }

        .input__file-button {
            width: 100%;
            max-width: 290px;
            height: 7vh;
            background: #1bbc9b;
            color: #fff;
            font-size: 1.125rem;
            font-weight: 700;
            display: flex;
            justify-content: flex-start;
            border-radius: 3px;
            cursor: pointer;
            margin: 0 auto;
        }
    }
}

.shadow {
    position: absolute;
    width: 100%;
    height: 10000vh;
    background-color: #494949;
    top: 0;
    overflow: hidden;
    opacity: 0.5;
}

.hidden {
    overflow: hidden;
}
