.page-container {
    .page-container_title {
        margin: 2vh;
    }
    .data_types {
        margin: 2vh;
    }

    .fields_for-type {
        float: right;
        margin: -12vh 23vh 0vh 0vh;

        .input-field {
            display: flex;

            .input-field_text {
                width: 15vh;
                margin-top: 2vh;
            }
        }

        .fields {
            margin-left: 2vh;
            display: flex;
            justify-content: space-between;
        }
    }
}

.new-type {
    display: flex;
    background-color: #f9f9f9;
    width: 43vh;
    margin-left: 2vh;
    border: 1px solid #f9f9ab;
    height: 18vh;
    margin-bottom: 2vh;

    .new-type_title {
        margin: 4vh 7vh 0 2vh;
    }

    form {
        .new-type_submit {
            float: right;
        }
    }

    .tools {
        padding: 4vh;

        button {
            background-color: transparent;
            border: 1px solid lightgray;
            border-radius: 2px;
            margin: 0 5px;

            label {
                cursor: pointer;
            }
        }

        button span {
            display: inline-block;
            font-size: 18px;
            color: #1d6741;
        }

        button small {
            vertical-align: 4px;
        }
    }
}

.modal {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 55vh;
    height: 35vh;
    left: 20%;
    top: 34%;
    background-color: white;
    display: block;
    padding: 2vh;
    // overflow: hidden;

    form {
        .modal-btn {
            button {
                margin-right: 5vh;
            }

            .close {
                background-color: #F38705;
            }
        }
    }
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #494949;
    top: 0;
    overflow: hidden;
    opacity: 0.5;
}
