<div class="page-title">
    <button routerLink="/contacts/new" class="waves-effect waves-light btn grey darken-1">
        Добавить контакт
    </button>
</div>

<div class="filter">
    <div class="fr">
        <div class="col order">
            <div class="input-field inline order-position-input">
                <input type="number" id="tab_num" min="1" [(ngModel)]="tab_num">
                <label for="tab_num">Таб. номер</label>
            </div>
        </div>
        <div class="col order">
            <div class="input-field inline order-position-input">
                <input type="text" id="name" [(ngModel)]="name">
                <label for="name">ФИО</label>
            </div>
        </div>
        <div class="col order">
            <div class="input-field inline order-position-input">
                <input type="text" id="position" [(ngModel)]="position">
                <label for="position">Должность</label>
            </div>
        </div>
        <div class="col order">
            <div class="input-field inline order-position-input">
                <input type="text" id="division" [(ngModel)]="division">
                <label for="division">Подразделение</label>
            </div>
        </div>
        <div class="col order">
            <div class="input-field inline order-position-input">
                <input type="text" id="city" [(ngModel)]="city">
                <label for="city">Город</label>
            </div>
        </div>
        <div class="col order">
            <div class="input-field inline order-position-input">
                <input type="text" id="firm" [(ngModel)]="firm">
                <label for="firm">Фирма</label>
            </div>
        </div>
        <div class="col order">
            <div class="input-field inline order-position-input">
                <input type="text" id="email" [(ngModel)]="email">
                <label for="email">Почта</label>
            </div>
        </div>
        <div class="col order">
            <div class="input-field inline order-position-input">
                <input type="tel" id="phone" [(ngModel)]="phone">
                <label for="phone">Телефон</label>
            </div>
        </div>
    </div>
</div>


<table class="responsive-table" *ngIf="!reloading; else reloadingBlock">
    <thead>
        <tr>
            <th>Табельный номер</th>
            <th>Ф.И.О.</th>
            <th>Должность</th>
            <th>Подразделение</th>
            <th>Город</th>
            <th>Фирма</th>
            <th>Почта</th>
            <th>Телефон</th>
        </tr>
    </thead>

    <tbody >
        <tr *ngFor="let contact of contacts | search: tab_num:name:firm:position:division:city:email:phone">
            <td>{{contact.tab_num }}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.position}}</td>
            <td>{{contact.division}}</td>
            <td>{{contact.city}}</td>
            <td>{{contact.firm}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
        </tr>
    </tbody>
</table>

<ng-template #reloadingBlock>
    <app-loader></app-loader>
</ng-template>

<div *ngIf="!noMoreContacts" class="center mb2">
    <button *ngIf="!loading; else loader" class="btn waves-effect grey darken-1 btn-small"
    (click)="loadMore()"
    >
        Загрузить еще
    </button>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</div>


