<div class="page-title">
    <button routerLink="/contacts/new" class="waves-effect waves-light btn grey darken-1">
        Добавить контакт
    </button>
</div>

<app-contacts-filter (onFilter) = applyFilter($event)></app-contacts-filter>


<table class="responsive-table" *ngIf="!reloading; else reloadingBlock">
    <thead>
        <tr>
            <th>Ф.И.О.</th>
            <th>Фирма</th>
            <th>Почта</th>
            <th>Телефон</th>
        </tr>
    </thead>

    <tbody >
        <tr *ngFor="let contact of contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.firm}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
        </tr>
    </tbody>
</table>

<ng-template #reloadingBlock>
    <app-loader></app-loader>
</ng-template>

<div *ngIf="!noMoreContacts" class="center mb2">
    <button *ngIf="!loading; else loader" class="btn waves-effect grey darken-1 btn-small"
    (click)="loadMore()"
    >
        Загрузить еще
    </button>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</div>


