<div class="row">
    <form [formGroup]="form" class="col s12" (ngSubmit)="onSubmit()">
        <div *ngFor="let contact of contacts">
            <div *ngIf="contact != 'imagesrc' && contact != 'date'" class="input-field">
                <input id="{{contact}}" type="text" formControlName="{{contact}}">
                <label for="name">{{contact}}</label>
            </div>
        </div>
        <div>
            <input 
            type="file"
            class="dn"
            (change)="common.onFileUpload($event)"
            #input
            >
            <button
            (click)="common.triggerClick()"
            [disabled]="form.disabled"
            type="button" 
            class="waves-effect waves-light btn orange lighten-2 mb2">
                <i class="material-icons left">backup</i>
                Загрузить изображение
            </button>
        </div>

        <div>
            <button type="submit"
            [disabled]="form.invalid || form.disabled"
            class="waves-effect waves-light btn">
            Сохранить изменения
            </button>
        </div>
    </form>
    <div class="col s12 l4 center">
        <img class="responsive-img h200" [src]="common.imagePreview" *ngIf="common.imagePreview">
    </div>
</div>
