<div class="row">
    <form [formGroup]="form" class="col s12 16" (ngSubmit)="onSubmit()">
        <div class="input-field">
            <input id="name" type="text" formControlName="name"
                [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
            <label for="name">Ф.И.О</label>
            <span *ngIf="form.get('name').invalid && form.get('name').touched">
                <span class="helper-text red-text" *ngIf="form.get('name').errors['required']">
                    Имя контакта не может быть пустым.
                </span>
            </span>
        </div>
        <div class="input-field">
            <input id="firm" type="text" formControlName="firm"
                [ngClass]="{'invalid': form.get('firm').invalid && form.get('firm').touched}">
            <label for="name">Фирма</label>
            <span *ngIf="form.get('firm').invalid && form.get('firm').touched" class="helper-text red-text">
                <span *ngIf="form.get('firm').errors.required">Поле должно быть заполнено</span>
            </span>
        </div>
        <div class="input-field">
            <input id="email" type="text" formControlName="email"
                [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}">
            <label for="name">Email</label>
            <span *ngIf="form.get('email').invalid && form.get('email').touched" class="helper-text red-text">
                <span *ngIf="form.get('email').errors.required">Email не должен быть пустым</span>
                <span *ngIf="form.get('email').errors.email">Email должен быть корректным</span>
            </span>
        </div>
        <div class="input-field">
            <input id="phone" type="tel" formControlName="phone">
            <label for="phone">Телефон</label>
        </div>
        <div>
            <button type="submit" [disabled]="form.invalid || form.disabled" class="waves-effect waves-light btn">
                Сохранить
            </button>
        </div>
    </form>
</div>