<div class="choise_container">
    <h1 class="choise_container__title">Insert Container</h1>
    <button class="btn_close" (click)="closeModal()"></button>
    <div class="containers_types">
        <div class="containers_types_builder">
            <div class="containers_types__header">
                <button class="containers_types__header_btn">Builder Containers</button>
            </div>
            <div class="container_types">
                <div class="container" *ngFor="let type of containerTypes" [ngClass]="type" (click)="addContainerAndElements(type)">
                    <div class="container_content type_one"></div>
                    <div class="container_content type_two"></div>
                    <div class="container_content type_three"></div>
                </div>
            </div>
        </div>
    </div>
</div>
