.modal-window {
    background-color: #f4f6f8;
    color: #fff;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 40%;
    opacity: 0.9;

    .buttons {
        display: flex;
        margin-left: 10px;

        .btn {
            width: 9em;
            height: 3.5em;
            font-size: 10px;
            margin-right: 5px;
        }

        .add {
            background-color: yellowgreen;
        }

        .remove {
            background-color: orangered;
        }

        .close {
            background: none;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 2%;
            left: 94%;
            border: none;
            box-shadow: none;
            background-image: url("../../../../assets/close.png");
            background-position: center;
            -webkit-background-size: cover;
            background-size: cover;
        }
    }

    .modal-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        background-color: #122c44;
        opacity: 0.8;
    }

    .adding-block {
        z-index: 1;
        position: absolute;
        background-color: blanchedalmond;
        width: 400px;
        height: 150px;
        top: 24%;
        left: 19%;
        padding: 1rem;

        input {
            margin-top: 10%;
        }

        .btn {
            width: 13em;
            height: 3.5em;
            font-size: 10px;
            margin-right: 5px;
        }

        .close {
            background: none;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 2%;
            left: 91%;
            border: none;
            box-shadow: none;
            background-image: url("../../../../assets/close.png");
            background-position: center;
            -webkit-background-size: cover;
            background-size: cover;
        }
    }

    input {
        color: black;
    }
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #122c44;
    opacity: 0.8;
}
