<div (click)="loadList($event)" *ngIf="service.settingsMenu">
    <div class="shadow"></div>
    <div class="modal-window">
        <h2 class="modal-heading">Редактирование пункта меню</h2>
        <div class="input-field">
            <input type="text" value="{{service.settingsItem.title}}" (keyup)="setValue($event.target.value)">
        </div>
        <div class="buttons">
            <button
                *ngIf="service.settingsItem.url != forbiddenItems[0] && service.settingsItem.url != forbiddenItems[1] &&
            service.settingsItem.url != forbiddenItems[2] && service.settingsItem.url != forbiddenItems[3] && service.writePerm"
                (click)="save(service.settingsItem)" class="btn change">
                Изменить
            </button>
            <button *ngIf="service.writePerm" (click)="addNew(service.settingsItem)" class="btn add">
                Добавить
            </button>
            <button
                *ngIf="service.settingsItem.url != forbiddenItems[0] && service.settingsItem.url != forbiddenItems[1] &&
            service.settingsItem.url != forbiddenItems[2] && service.settingsItem.url != forbiddenItems[3] && service.writePerm"
                (click)="remove(service.settingsItem)" class="btn remove">
                Удалить
            </button>
            <button class="btn close" (click)="closeModal()"></button>
        </div>
        <div *ngIf="newItem" class="modal-shadow"></div>
        <div *ngIf="newItem" class="adding-block">
            <button class="btn close" (click)="closeAddModal()"></button>
            <input type="text" (keyup)="setValue($event.target.value)">
            <button (click)="add(this.data)" class="btn add">Добавить пункт</button>
        </div>
        <div *ngIf="role == 'ADMIN'" class="permission-block">
            <form class="add-form" [formGroup]="form">
                <input class="select-input" (click)="loadList($event)" (keyup)="applyFilter($event.target.value)"  type="text" placeholder="Добавьте пользователей">
                <div *ngIf="selectBlock" class="select-block">
                    <div *ngFor="let contact of service.contacts | search:searchStr | slice:0:4" (click)="checkContact(contact)"
                        class="select-block_list">
                        <p *ngIf="contact.name" class="select-block_list name">{{contact.name}}</p>
                        <span class="select-block_list email">{{contact.email}}</span>
                    </div>
                </div>
                <div *ngIf="selectUser" class="check-contact">
                    <div class="check-contact_info">
                        <p class="name">{{userName}}</p>
                        <button class="btn" (click)="cancel()">X</button>
                    </div>
                    <div class="check-contact_select">
                        <mat-form-field appearance="fill">
                            <mat-label>Change permission</mat-label>
                            <mat-select [formControl]="selectName">
                                <mat-option class="mat-select" *ngFor="let permission of service.addPermissions"
                                    [value]="permission.value">
                                    {{permission.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="selectUser" class="select-block_btn">
                    <button class="btn add" (click)="addUser()">Добавить</button>
                    <button class="btn cancel" (click)="cancel()">Отмена</button>
                </div>
            </form>
            <form *ngIf="!selectUser" class="update-form" [formGroup]="service.permissionForm"
                (ngSubmit)="changePermissions()">
                <div class="list">
                    <div *ngFor="let contact of service.contacts" class="list__point">
                        <div *ngIf="!contact.permissions[0]" class="list__point">
                            <div class="list__point-info">
                                <p *ngIf="contact.name" class="list__point-info name">{{contact.name}}</p>
                                <span class="list__point-info email">{{contact.email}}</span>
                            </div>
                            <div class="list__point-permissions">
                                <mat-form-field appearance="fill">
                                    <mat-label>Change permission</mat-label>
                                    <mat-select formControlName="{{contact.email}}">
                                        <mat-option class="mat-select" *ngFor="let permission of service.permissions"
                                            [value]="permission.value" (click)="changePermission()">
                                            {{permission.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <input *ngIf="permissionChange" class="btn form-submit" type="submit" value="Сохранить изменения">
            </form>
        </div>

    </div>
</div>