.page-container {
    width: 100%;
    margin: 2vh;
    display: flex;
    justify-content: space-between;

    .left-cont {
        .data_types {
            .data_types-btn {
                margin-top: 2vh;
            }
        }
    }

    .right-cont {
        margin-right: 20vh;
        .grid-wrapper {
            width: 100%;
            box-shadow: none;

            .mat-table {
                max-height: 550px;
                overflow-y: auto;
                overflow-x: auto;
                width: 50%;
                min-width: 500px;
                max-width: 500px;
                color: #fff;

                .mat-header-row {
                    z-index: 5 !important;
                    font-size: 12px;
                    box-sizing: unset;
                }

                .mat-row,
                .mat-header-row {
                    border-bottom-width: 0px;
                    font-size: 12px;
                }

                .mat-row {
                    cursor: pointer;
                    font-size: 12px;
                    box-sizing: unset;

                    &:hover {
                        background-color: #dcdcdc;
                    }
                }

                .mat-header-cell {
                    padding-left: 0px;

                    .input-name {
                        display: flex;
                        flex-direction: column;
                        height: 96px;
                        width: 100%;

                        .filter-input {
                            input {
                                width: 100%;
                            }
                        }
                    }
                }

                .mat-cell {
                    padding-left: 0px;

                    &:last-child {
                        padding-right: 0px;
                    }
                }

                .mat-header-cell {
                    display: flex;
                    justify-content: space-between;

                    &.resizable {
                        .handler {
                            cursor: col-resize;
                        }
                    }

                    font-size: 0.8rem;
                    font-weight: bolder;
                    text-transform: uppercase;

                    // &:first-child {
                    //   padding-left: 8px;
                    // }

                    .mat-icon {
                        cursor: pointer;
                    }

                    .cell-header {
                        cursor: default;
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        margin-left: 4px;
                    }

                    .handler {
                        width: 5px;
                        height: 50px;
                    }
                }
            }
        }

        .tools {
            margin-top: 3vh;
        }
    }
}

mat-cell,
mat-footer-cell,
mat-header-cell {
    flex: none;
    justify-content: right;
    border: 1px solid #f0f0f1;
    padding: 0 !important;
    background-color: white;
}

input {
    border-bottom: none !important;
    padding-left: 2vh !important;
}