.row {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    .first_step {
        border        : 1px solid black;
        width         : 500px;
        display       : flex;
        flex-direction: column;

        .buttons {
            margin: 0 auto;
        }

    }

    .subtitles {
        width: 300px;

        .buttons {
            margin: 0 auto;
        }
    }
}

.btn {
    margin-left: 5px;
    font-size  : 10px;
    height     : 25px;
    line-height: 25px;
}

.add {
    background-color: yellowgreen;
}

.remove {
    background-color: orangered;
}


.adding-block {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    .add-new {
        width        : 300px;
        margin       : 0 auto;
        margin-bottom: 12px;
        margin-top   : 10px;
        border       : 1px solid;
    }

    .btn {
        margin-bottom: 10px;
    }
}