p {
    margin: 0;
}

.containers {

    .container_type {
        .container {
            width: 100%;

            .title_container {
                background-color: #198fd9;
                height: 6vh;
                display: flex;

                .title {
                    color: white;
                    font-size: 3vh;
                    padding: 1vh 4vh;
                    width: 100%;
                }

                .panel_container {

                    .delete_btn {
                        background: no-repeat;
                        width: 5vh;
                        display: flex;
                        justify-content: center;
                        color: #F0FFFF;
                        height: 100%;
                        align-items: center;
                        background-color: #0E7ABD;
                        border: 1px solid #57A2D1;
                    }

                    .delete_btn:hover {
                        background-color: #198fd9;
                        cursor: pointer;
                        color: #F0FFFF;
                    }
                }
            }

            .container_element {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 3vh;

                .elements {
                    display: flex;

                    .element {
                        width: 50%;
                        border: 1px solid #E5E5E5;
                        margin-right: 2vh;

                        .control_panel {
                            .panel_element {
                                .delete_btn {
                                    background: no-repeat;
                                    border: 1px solid #E5E5E5;
                                    width: 5vh;
                                    display: flex;
                                    justify-content: center;
                                    color: #99A5C1;
                                }

                                .delete_btn:hover {
                                    background-color: #f7f7f7;
                                    border: 1px solid #E5E5E5;
                                    cursor: pointer;
                                    color: #222222;
                                }
                            }
                        }
                    }
                }
                .add_container {
                    display: flex;
                    flex-direction: row-reverse;
                    padding-top: 2vh;
                    padding-right: 2vh;
                    height: 5vh;

                    .add_container_btn {
                        display: none;
                        margin-right: 0vh;
                    }

                    .add_element_btn {
                        display: none;
                        margin-left: 5vh;
                    }

                    .is_visible {
                        display: flex;
                        border: 1px solid #e5e5e5;
                        background: none;
                        width: 18vh;
                        height: 6vh;
                        margin-right: -5.03vh;
                        color: #e5e5e5;
                        cursor: pointer;

                        mat-icon {
                            padding-top: 1vh;
                            padding-right: 3.5vh;
                            padding-left: 2vh;
                        }

                        p {
                            padding-top: 1.5vh;
                        }
                    }

                    .is_visible:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

.choise_modal {
    position: fixed;
    width: 100%;
    height: 150vh;
    background-color: #323232;
    top: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0.7;
    margin-left: -10vh;
}

app-choise-type-container-modal {
    display: flex;
    justify-content: center;
}

